.single_entry {
    border: black solid 0.5rem;
    padding: 1rem;
    border-radius: 2rem;
    margin: 1%;
}
.spacer {
    margin-top: 1%;
    margin-bottom: 1%;
}
.areaTitle {
    font-weight: bolder;
    margin-bottom: 0.2%;
}
.entryDate {
    margin-bottom: 1%;
}
article {
    margin: 1%;
}
.dailyJournal {
    font-size: x-large;
    font-weight: bolder;
    margin-left: 40%;
}